@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --primary: #00c2b5;
  --primary-hover: #00b0a5;
  --footer-text: #040119;

  /* Grays */
  --custom-gray-50: #fefefe;
  --custom-gray2-50: #f8fafc;
  --custom-gray-100: #f3f4f6;
  --custom-gray2-100: #f3f5f7;
  --custom-gray-100: #f3f3f4;
  --custom-gray2-100: #f8f8f8;
  --custom-gray3-100: #eaedf1;
  --custom-gray-200: #e5e7eb;
  --custom-gray-300: #d8d8d8;
  --custom-gray2-300: #d9d9d9;
  --custom-gray-400: #cbcbcb;
  --custom-gray2-400: #a0a0a1;
  --custom-gray3-400: #b6b6b6;
  --custom-gray-500: #7f7f7f;
  --custom-gray-600: #737373;
  --custom-gray2-600: #4f4f4f;
  --custom-gray-700: #4b4a4a;
  --custom-gray-800: #1a1a1a;
  --custom-gray-900: #111111;
  --custom-gray-950: #1e1e1e;
  --custom-gray-950: #232323;
  --custom-gray2-950: #150d15;

  /* Slates */
  --custom-slate-100: #dee2e8;
  --custom-slate-300: #b1b9c4;
  --custom-slate-400: #94a3b8;
  --custom-slate2-400: #9097aa;
  --custom-slate-500: #6b7280;
  --custom-slate-600: #5c646a;
  --custom-slate-700: #333d45;
  --custom-slate2-700: #3c4858;
  --custom-slate-800: #374151;
  --custom-slate-900: #1e293b;
  --custom-slate2-900: #161c2d;
  --custom-slate-950: #0d1820;
  --custom-slate2-950: #0f172a;
  --custom-slate3-950: #040119;

  /* Blues / Indigos */
  --custom-blue-300: #84a2e0;
  --custom-blue2-500: #4d79d2;
  --custom-blue-600: #306dc4;
  --custom-indigo-700: #3a24c2;

  /* Greens / Teals / Emeralds */
  --custom-green-100: #d0eddb;
  --custom-green-400: #2cbca5;
  --custom-green2-400: #24c2a5;
  --custom-green3-400: #15d09a;
  --custom-green4-400: #36bb91;
  --custom-green-500: #059669;
  --custom-green2-500: #27a994;
  --custom-green-600: #16a34a;

  /* Yellows / Ambers / Golds */
  --custom-amber-500: #eab308;
  --custom-amber-600: #b99245;

  /* Reds */
  --custom-red-500: #ff3b30;
  --custom-red-600: #dc2626;

  /* Misc / Unusual tones */
  --custom-zinc-300: #b6b6b6;
  --custom-zinc-400: #a0a0a1;
  --custom-neutral-900: #1a1a1a;
  --custom-neutral2-900: #232323;
  --custom-neutral-950: #111111;
  --custom-neutral2-950: #150d15;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-accent: var(--custom-teal-500);

  --color-custom-gray-50: var(--custom-gray-50);
  --color-custom-gray2-50: var(--custom-gray2-50);
  --color-custom-gray-100: var(--custom-gray-100);
  --color-custom-gray2-100: var(--custom-gray2-100);
  --color-custom-gray-200: var(--custom-gray-200);
  --color-custom-gray-300: var(--custom-gray-300);
  --color-custom-gray2-300: var(--custom-gray2-300);
  --color-custom-gray-400: var(--custom-gray-400);
  --color-custom-gray2-400: var(--custom-gray2-400);
  --color-custom-gray3-400: var(--custom-gray3-400);
  --color-custom-gray-500: var(--custom-gray-500);
  --color-custom-gray-600: var(--custom-gray-600);
  --color-custom-gray2-600: var(--custom-gray2-600);
  --color-custom-gray-700: var(--custom-gray-700);
  --color-custom-gray-800: var(--custom-gray-800);
  --color-custom-gray-900: var(--custom-gray-900);
  --color-custom-gray-950: var(--custom-gray-950);
  --color-custom-gray2-950: var(--custom-gray2-950);
  --color-custom-gray3-950: var(--custom-gray3-950);
  --color-custom-slate-100: var(--custom-slate-100);
  --color-custom-slate-300: var(--custom-slate-300);
  --color-custom-slate-400: var(--custom-slate-400);
  --color-custom-slate2-400: var(--custom-slate2-400);
  --color-custom-slate-500: var(--custom-slate-500);
  --color-custom-slate-600: var(--custom-slate-600);
  --color-custom-slate-700: var(--custom-slate-700);
  --color-custom-slate2-700: var(--custom-slate2-700);
  --color-custom-slate-800: var(--custom-slate-800);
  --color-custom-slate-900: var(--custom-slate-900);
  --color-custom-slate2-900: var(--custom-slate2-900);
  --color-custom-slate-950: var(--custom-slate-950);
  --color-custom-slate2-950: var(--custom-slate2-950);
  --color-custom-slate3-950: var(--custom-slate3-950);
  --color-custom-blue-300: var(--custom-blue-300);
  --color-custom-blue2-500: var(--custom-blue2-500);
  --color-custom-blue-600: var(--custom-blue-600);
  --color-custom-indigo-700: var(--custom-indigo-700);
  --color-custom-green-100: var(--custom-green-100);
  --color-custom-green-400: var(--custom-green-400);
  --color-custom-green2-400: var(--custom-green2-400);
  --color-custom-green3-400: var(--custom-green3-400);
  --color-custom-green4-400: var(--custom-green4-400);
  --color-custom-green-500: var(--custom-green-500);
  --color-custom-green2-500: var(--custom-green2-500);
  --color-custom-green-600: var(--custom-green-600);
  --color-custom-amber-500: var(--custom-amber-500);
  --color-custom-amber-600: var(--custom-amber-600);
  --color-custom-red-500: var(--custom-red-500);
  --color-custom-red-600: var(--custom-red-600);
  --color-custom-zinc-300: var(--custom-zinc-300);
  --color-custom-zinc-400: var(--custom-zinc-400);
  --color-custom-neutral-900: var(--custom-neutral-900);
  --color-custom-neutral2-900: var(--custom-neutral2-900);
  --color-custom-neutral-950: var(--custom-neutral-950);
  --color-custom-neutral2-950: var(--custom-neutral2-950);

  --font-montserrat: var(--font-montserrat);
  --font-dm-sans: var(--font-dm-sans);
  --font-inter: var(--font-inter);
  --font-syne: var(--font-syne);
  --font-raleway: var(--font-raleway);
  --font-roboto-condensed: var(--font-roboto-condensed);
  --font-league-spartan: var(--font-league-spartan);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
* {
  /* margin: 0; */
  /* box-sizing: border-box; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-dm-sans), Arial, Helvetica, sans-serif;
}
